.gap {
  gap: var(--space-16);
}

.container {
  display: flex;
  flex-direction: column;
  @extend .gap;
}

.main-grid {
  @extend .gap;
  display: grid;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: 3fr 2fr;
  }
}

.phone-grid {
  @extend .gap;
  display: grid;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: 2fr 4fr;
  }

  @include lg {
    grid-template-columns: 1fr 3fr;
  }
}
