.button {
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius-4);

  font-weight: 700;

  &:hover {
    filter: brightness(0.9);
  }
}

.button--primary {
  background-color: var(--button-primary);
  color: var(--button-text);

  @extend .text--sm;
}

.button--disabled {
  background-color: var(--button-disabled-background);
  color: var(--button-disabled-text);
}
