.box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box__input {
  background-color: var(--input-background);
  height: 40px;
  width: 100%;

  @include text-primary;

  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-4);

  padding: 0 var(--space-12) 0 var(--space-12);
}

.box__input--error {
  border: 2px solid var(--error);
}

.box__input--trailing-component {
  padding-right: var(--space-32);
}

.box__trailing-component {
  position: absolute;
  display: flex;
  align-items: center;
  right: var(--space-8);
}

.label {
  @extend .text--sm;
  font-weight: 500;

  &--required {
    color: var(--error);
  }
}

.error-message {
  @extend .text--xs;
  color: var(--error);
}
