$primary: #f04e63;

$error: #ea3838;

$light-main-background: #ffffff;

$light-card-background: #f6f6f6;

// Typography colors

$light-text-primary: #363636;

// Input colors

$light-input-background: #ffffff;
$light-input-border: #d9d9d9;
