@import "./colors.scss";

@mixin theme-colors {
  --main-background: #{$light-main-background};
  --secondary-background: #{$light-secondary-background};
  --card-background: #{$light-card-background};
  --background-contrast: #{$light-background-contrast};

  --text-primary: #{$light-text-primary};

  --button-primary: #{$primary};
  --button-text: #ffffff;

  --input-background: #{$light-input-background};
  --input-border: #{$light-input-border};

  --button-disabled-background: #{$light-button-disabled-background};
  --button-disabled-text: #{$light-button-disabled-text};

  --error: #{$error};
}
