@import "./colors.scss";

@mixin theme-colors {
  --main-background: #{$light-main-background};
  --secondary-background: #{$light-secondary-background};
  --card-background: #{$light-card-background};
  --background-contrast: #{$light-background-contrast};

  --text-primary: #{$light-text-primary};

  --button-primary: #{$primary};
  --button-text: #ffffff;

  --input-background: #{$light-input-background};
  --input-border: #{$light-input-border};

  --button-disabled-background: #{$light-button-disabled-background};
  --button-disabled-text: #{$light-button-disabled-text};

  --divider-background: #{$light-input-border};

  --error: #{$error};
}

@mixin input-style {
  background-color: var(--input-background);
  height: 40px;
  width: 100%;

  @include text-primary;

  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-4);

  padding: 0 var(--space-12) 0 var(--space-12);
}

@mixin input-style--error {
  border: 2px solid var(--error);
}
