.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container__spinner {
  border: 3px solid color-mix(in srgb, var(--button-text), transparent 50%);
  border-top: 3px solid var(--button-text);
  border-radius: 50%;

  animation: spin 1s linear infinite;
}
