.table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid var(--secondary-background);
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: var(--secondary-background);
  }

  tr:nth-child(odd) {
    background-color: var(--main-background);
  }
}
