.input {
  background-color: var(--input-background);
  height: 40px;
  width: 100%;

  @include text-primary;

  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-4);

  padding: 0 var(--space-12) 0 var(--space-12);
}

.input--error {
  border: 2px solid var(--error);
}

.label {
  @extend .text--sm;
  font-weight: 500;

  &--required {
    color: var(--error);
  }
}

.error-message {
  @extend .text--xs;
  color: var(--error);
}
